<?xml version="1.0" encoding="windows-1251"?><configuration><!--    -->    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">        <encoder><!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->            <pattern>%msg%n</pattern>        </encoder>    </appender>    <property name="HOME_LOG" value="logback.log"/>    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">        <file>${HOME_LOG}</file>        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">            <fileNamePattern>app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>            <maxFileSize>100KB</maxFileSize>        </rollingPolicy>        <encoder>            <pattern>%m%n</pattern>        </encoder>    </appender>    <root level="debug">        <appender-ref ref="FILE"/>        <appender-ref ref="CONSOLE"/>    </root></configuration>